<template>
  <div id="app">
    <div id="nav">
      <h1>Congregate</h1>
      <router-link to="/">Home</router-link>
      <router-link to="/projects">Projects</router-link>
      <router-link to="/groups">Groups</router-link>
      <router-link to="/users">Users</router-link>
    </div>
    <div id = "content">
      <router-view/>
    </div>
    <Toaster/>
  </div>
</template>
<script>
import Toaster from '@/components/Toaster.vue'

export default {
  name: 'App',
  components: {
    Toaster
  }
}
</script>

<style lang="less">
#app {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("assets/congregate_logo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#nav {
  background-color: #FF851B;
  color :hsl(28, 100%, 20%);
  text-align: left;
  flex: 0 0 11em;
  h1 {
    font-size: 1.5em;
    text-indent: 0.5em;
    padding: 0.5em 0;
  }

  h2 {
    font-size: 1em;
    padding: 0;
  }

  a {
    font-weight: bold;
    color: hsl(28, 100%, 20%);
    display: block;
    text-indent: 0.5em;
    padding: 0.5em 0;

    &.router-link-exact-active {
      background-color: hsl(28, 100%, 20%);
      color: #FF851B;
    }

    &:link {
      display: block;
      padding: 0.5em 0;
      text-decoration-line: none;
      width: 100%;
    }

    &:hover {
      background-color: hsl(28, 100%, 20%);
      color: #FF851B;
      text-decoration-line: underline;
    }

    p {
      margin-left: 0.5em;
    }
  }

}

#content {
  flex-grow: 12;
  padding: 1em 1em 0 1em;
  color: #111;
}

#content h1 {
  font-size: 1.5em;
  display: inline;
  border: 1px solid #FF851B;
  border-bottom: none;
  padding: 0.05em 0.2em;
}

.table {
  padding: 1em 1em 10em;
}


</style>
